<footer class="footer">
  <div class="site-section">
    <div class="container">
      <div class="cta d-block d-md-flex justify-content-between align-items-center px-5">
        <div>
          <h4 class="mb-0">Nous pouvons vous aider à trouver le travail de vos rêves.</h4>
          <h3 class="text-dark">Besoin d'aide ?</h3>
        </div>
        <div class="ml-auto">
          <a routerLink="/contact" class="btn contact-us fw-bold rounded-0 py-3 px-5">Contactez-nous</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a href="#" class="footer-logo">Human AI</a>
          <p class="text-white-50">
            <small>&copy; 2023</small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Customers</h3>
          <ul class="list-unstyled links">
            <li><a class="text-white-50" href="#">Buyer</a></li>
            <li><a class="text-white-50" href="#">Supplier</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Company</h3>
          <ul class="list-unstyled links">
            <li><a class="text-white-50" href="#">About us</a></li>
            <li><a class="text-white-50" href="#">Careers</a></li>
            <li><a class="text-white-50" href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Further Information</h3>
          <ul class="list-unstyled links">
            <li><a class="text-white-50" href="#">Terms &amp; Conditions</a></li>
            <li><a class="text-white-50" href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Follow us</h3>
          <ul class="list-unstyled social">
            <li class="px-1"><a href="#"><span><i class="bi bi-facebook"></i></span></a></li>
            <li class="px-1"><a href="#"><span><i class="bi bi-twitter"></i></span></a></li>
            <li class="px-1"><a href="#"><span><i class="bi bi-linkedin"></i></span></a></li>
            <li class="px-1"><a href="#"><span><i class="bi bi-google"></i></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
