<nav id="nav1" class="navbar navbar-expand-lg p-0">
    <div class="container px-0">
        <a class="navbar-brand fw-bold" href="#!"><img src="../../../assets/images/nav-logo.jpeg" class="logo" alt="" /></a>
        <div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><button routerLink="/" class="btn home mx-2">Home</button></li>
              <li class="nav-item"><button routerLink="/register" class="btn inscription mx-2">S'inscrire</button></li>
            </ul>
        </div>
    </div>
  </nav>
  <nav id="nav2" class="navbar navbar-expand-lg p-0">
    <div class="container px-5 h-100">
        <div class="h-100">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 h-100">
              <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/login">Offres d’emploi</a></li>
              <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/login">Actualités</a></li>
              <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
  </nav>
  
  <div style="background-color:#F5F2F9">
    <div class="row align-items-center justify-content-center mb-4 pb-5 mx-5">
      <div class="col p-3 my-5">
        <div class="illustration w-75 m-auto">
            <img class="w-100" src="/assets/images/africa.png">
        </div>
      </div>
      <div class="col col-lg-5 align-items-center">
        <div class="card card-4 shadow p-3 my-5 bg-body rounded">
          <div class="card-body">
            <h2 class="title text-center py-2">Récupération du mot de passe</h2>
            
            






<p class="login-box-msg">Changer votre mot de passe.</p>
          <p class="login-box-msg text-success" *ngIf="message">{{message}}</p>
  
          <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
            <label class="form-label" for="email">Mot de passe</label>
            <div class="input-group mb-3 has-validation">
              <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
              
            </div>
            <p class="text-danger pl-1" *ngIf="error.password">{{error.password}}</p>
            <label class="form-label" for="email">Confirmer votre mot de passe</label>
            <div class="input-group mb-3 has-validation">
              <input type="password" class="form-control" placeholder="Confirm Password" name="password_confirmation" ngModel>
              
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Change password</button>
              </div>
              <!-- /.col -->
            </div>
          </form>















          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  