<nav id="nav1" class="navbar navbar-expand-lg p-0">
  <div class="container px-0">
      <a class="navbar-brand fw-bold" routerLink="/home"><img src="../../../assets/images/nav-logo.jpeg" class="logo" alt="" /></a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><button routerLink="/register" class="btn inscription mx-2">Inscription</button></li>
          <li class="nav-item"><button routerLink="/login" class="btn connexion">Se connecter</button></li>
      </ul>
  </div>
</nav>
<nav id="nav2" class="navbar navbar-expand-lg p-0">
  <div class="container px-5 h-100">
      <div class="h-100">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 h-100">
              <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/login">Offres d’emploi</a></li>
              <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/login">Actualités</a></li>
              <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/contact">Contact</a></li>
          </ul>
      </div>
      <a class="nav-link recruteur ps-5" routerLink="/espace-recruteur">Espace recruteur <i class="bi bi-arrow-right px-2"></i></a>
  </div>
</nav>
<header class="bg d-flex align-items-center">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-8">
              <div class="text-center my-5">
                  <h1 class="display-5 fw-bolder text-white mb-2">1ère plateforme de matching recrutement autour de vos valeurs</h1>
                  <p class="lead text-white mb-4">Vous êtes unique, vos valeurs sont uniques, et votre travail devrait l'être aussi ! Notre plateforme de recrutement avec matching de valeurs est la solution pour vous aider à trouver le travail de vos rêves.
                    Trouvez des employeurs qui partagent vos convictions, vos passions et votre énergie, et ensemble, construisons un avenir meilleur pour tous !
                  </p>
              </div>
          </div>
      </div>
  </div>
</header>
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature text-white rounded-5 mb-3"><i class="bi bi-search"></i></div>
              <h4 class="h4 fw-bolder">Cherchez l'emploi idéal</h4>
              <p>Découvrez des milliers d'offres d'emploi dans des domaines variés pour un match parfait avec votre profil mais surtout vos valeurs.</p>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature text-white rounded-5 mb-3"><i class="bi bi-building"></i></div>
              <h4 class="h4 fw-bolder">Explorez les entreprises</h4>
              <p>Parcourez et consultez des entreprises de tous horizons et trouvez celle qui partage vos valeurs.</p>
          </div>
          <div class="col-lg-4">
              <div class="feature text-white rounded-5 mb-3"><i class="bi bi-briefcase"></i></div>
              <h4 class="h4 fw-bolder">Postulez facilement</h4>
              <p>Parcourez et consultez des entreprises de tous horizons et trouvez celle qui partage vos valeurs et qui correspond à votre vision de carrière.</p>
          </div>
      </div>
  </div>
</section>
<section class="bg-light py-5 border-bottom padd">
  <div class="container px-5 my-5">
      <div class="text-center mb-5">
          <h2 class="fw-bold">Ces offres peuvent vous intéresser</h2>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6 col-xl-4">
              <div class="card p-2 mb-5 mb-xl-0">
                  <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                      <img src="../../../../assets/images/logo-bank-of-africa.png" class="w-100 m-1 align-self-center" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5>Spécialiste en gestion de patrimoine</h5>
                        <p class="card-text">Bank of africa - Oujda</p>
                        <p class="card-text">CDI</p>
                        <p class="card-text"><small class="text-muted">Publiée il y a moins de 24h</small></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4">
              <div class="card p-2 mb-5 mb-xl-0">
                  <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../../../assets/images/logo-oncf.png" class="w-100 m-1 align-self-center" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5>Assistant administratif</h5>
                        <p class="card-text">ONCF - Fez</p>
                        <p class="card-text">CDI</p>
                        <p class="card-text"><small class="text-muted">Publiée il y a moins de 24h</small></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4">
              <div class="card p-2 mb-5 mb-xl-0">
                  <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../../../assets/images/logo-cgem.jpg" class="w-100 m-1 align-self-center" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5>Spécialiste en Ressources Humaines</h5>
                        <p class="card-text">CGEM - Casablanca</p>
                        <p class="card-text">CDD</p>
                        <p class="card-text"><small class="text-muted">Publiée il y a moins de 24h</small></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
