<nav id="nav1" class="navbar navbar-expand-lg">
  <div class="container px-2">
    <a class="navbar-brand fw-bold" routerLink="/candidat/home"
      ><img src="../../../assets/images/nav-logo.jpeg" class="logo" alt=""
    /></a>
    <div
      class="container d-flex justify-content-center align-items-center"
    ></div>
    <div class="d-flex">
      <!-- Notifications -->
      <div class="dropdown">
        <button
          type="button"
          class="btn mx-1 text-white nav-btn"
          data-bs-toggle="dropdown"
        >
          <i class="bi bi-bell-fill"></i><span class="badge">6</span>
        </button>
        <div class="container shadow dropdown-menu dropdown-menu-end drop-menu p-0">
          <div>
            <h6 class="p-2">Notifications (6)</h6>
            <div class="job-box p-0">
              <div class="inbox-message" style="height: 450px; overflow: auto">
                <div class="p-3 d-flex align-items-center border-bottom">
                  <div class="dropdown-list-image me-3">
                    <img
                      class="rounded-circle"
                      src="../../../../assets/images/profil-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="fw-bold me-3">
                    <div class="text-truncate">DAILY RUNDOWN: WEDNESDAY</div>
                    <div class="small">
                      Income tax sops on the cards, The bias in VC funding, and
                      other top news for you
                    </div>
                  </div>
                  <span class="mx-auto mb-auto">
                    <div class="text-right text-muted pt-1">3d</div>
                  </span>
                </div>
                <div class="p-3 d-flex align-items-center border-bottom">
                  <div class="dropdown-list-image me-3">
                    <img
                      class="rounded-circle"
                      src="../../../../assets/images/profil-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="fw-bold me-3">
                    <div class="mb-2">
                      We found a job at askbootstrap Ltd that you may be
                      interested in Vivamus imperdiet venenatis est...
                    </div>
                    <a routerLink="" href="" class="btn-sm text-success">
                      View Jobs
                    </a>
                  </div>
                  <span class="mx-auto mb-auto">
                    <div class="text-right text-muted pt-1">4d</div>
                  </span>
                </div>
                <div class="p-3 d-flex align-items-center border-bottom">
                  <div
                    class="dropdown-list-image me-3 d-flex align-items-center bg-danger justify-content-center rounded-circle text-white"
                  >
                    DRM
                  </div>
                  <div class="fw-bold me-3">
                    <div class="text-truncate">DAILY RUNDOWN: MONDAY</div>
                    <div class="small">
                      Nunc purus metus, aliquam vitae venenatis sit amet, porta
                      non est.
                    </div>
                  </div>
                  <span class="mx-auto mb-auto">
                    <div class="text-right text-muted pt-1">3d</div>
                  </span>
                </div>
                <div class="p-3 d-flex align-items-center border-bottom">
                  <div class="dropdown-list-image me-3">
                    <img
                      class="rounded-circle"
                      src="../../../../assets/images/profil-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="fw-bold me-3">
                    <div class="text-truncate">DAILY RUNDOWN: SATURDAY</div>
                    <div class="small">
                      Pellentesque semper ex diam, at tristique ipsum varius
                      sed. Pellentesque non metus ullamcorper
                    </div>
                  </div>
                  <span class="mx-auto mb-auto">
                    <div class="text-right text-muted pt-1">3d</div>
                  </span>
                </div>
                <div
                  class="p-3 d-flex align-items-center border-bottom osahan-post-header"
                >
                  <div class="dropdown-list-image me-3">
                    <img
                      class="rounded-circle"
                      src="../../../../assets/images/profil-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="fw-bold me-3">
                    <div class="text-truncate">DAILY RUNDOWN: SATURDAY</div>
                    <div class="small">
                      Pellentesque semper ex diam, at tristique ipsum varius
                      sed. Pellentesque non metus ullamcorper
                    </div>
                  </div>
                  <span class="mx-auto mb-auto">
                    <div class="text-right text-muted pt-1">3d</div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Messages -->
      <div class="dropdown">
        <button
          type="button"
          class="btn mx-1 nav-btn"
          data-bs-toggle="dropdown"
        >
          <i class="bi bi-envelope-fill"></i>
          <span class="badge m-0">7</span>
        </button>
        <div class="container shadow dropdown-menu dropdown-menu-end drop-menu p-0">
          <div>
            <h6 class="p-2">Messages (7)</h6>
            <div class="p-0">
              <div class="inbox-message">
                <ul style="height: 450px; overflow: auto">
                  <li (click)="showMsgDialog()">
                    <a>
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/profil-1.jpg"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit....
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/profil-2.jpg"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet,iusmod tempor
                          incididunt ut labore et dolor....
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/profil-3.jpg"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolor....
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/profil-4.jpg"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolor....
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/profil-5.jpg"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolor....
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/sqli.png"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolor....
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="message-avatar">
                        <img
                          src="../../../../assets/images/logo-bank-of-africa.png"
                          alt=""
                        />
                      </div>
                      <div class="message-body">
                        <div class="message-body-heading">
                          <h6>Daniel Dock</h6>
                          <span>7 hours ago</span>
                        </div>
                        <p>
                          Hello, Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolor....
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="btn-group" role="group">
        <button
          class="btn profil-cont dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img class="profil" src="../../../assets/images/profil-1.jpg" />
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end profil-menu"
          aria-labelledby="dropdownMenuButton1"
        >
          <li>
            <button class="dropdown-item" routerLink="/candidat/profil">
              {{nomEtPrenom}}
            </button>
          </li>
          <li>
            <button class="dropdown-item" routerLink="/candidat/candidatures">
              Mes candidatures
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              routerLink="/candidat/enregistrements"
            >
              Mes enregistrement
            </button>
          </li>
          <hr class="m-2"/>
          <li>
            <button (click)="logout()" class="dropdown-item">Déconnexion</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- boite de discussion -->
<div class="popup-box chat-popup" *ngIf="msgDialog">
  <div class="popup-head">
    <div class="popup-head-left pull-left">
      <img
        src="https://bootdey.com/img/Content/avatar/avatar1.png"
        alt="iamgurdeeposahan"
      />
      Daniel Dock
    </div>
    <div class=" m-auto popup-head-right pull-right">
      <button
      (click)="msgDialog = false"
        class="btn chat-header-button pull-right"
        type="button"
      >
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
  </div>
  <div class="popup-messages">
    <div class="direct-chat-messages">
      <div class="chat-box-single-line">
        <abbr class="timestamp">4 avril 2023</abbr>
      </div>

      <div class="direct-chat-msg">
        <div class="d-flex">
          <img
            alt="message user image"
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
            class="direct-chat-img"
          />
          <div class="direct-chat-text chat-left">Hey bro, how’s everything going ?</div>
        </div>
        <!-- <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">3.36 PM</span>
        </div> -->
      </div>

      <!-- <div class="chat-box-single-line">
        <abbr class="timestamp">October 9th, 2015</abbr>
      </div> -->

      <div class="direct-chat-msg user-msg">
        <div class="direct-chat-text chat-right">Hey bro, how’s everything going ?</div>
        <!-- <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">3.36 PM</span>
        </div> -->
      </div>
      <div class="direct-chat-msg user-msg">
        <div class="direct-chat-text chat-right">Hey bro</div>
        <!-- <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">3.36 PM</span>
        </div> -->
      </div>
      <div class="direct-chat-msg">
        <div class="d-flex">
          <img
            alt="message user image"
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
            class="direct-chat-img"
          />
          <div class="direct-chat-text chat-left">Hey bro, how’s everything going ?</div>
        </div>
        <!-- <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">3.36 PM</span>
        </div> -->
      </div>
      <div class="direct-chat-msg">
        <div class="d-flex">
          <img
            alt="message user image"
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
            class="direct-chat-img"
          />
          <div class="direct-chat-text chat-left">Hey bro, how’s everything going ?</div>
        </div>
        <!-- <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">3.36 PM</span>
        </div> -->
      </div>
      <div class="direct-chat-msg">
        <div class="d-flex">
          <img
            alt="message user image"
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
            class="direct-chat-img"
          />
          <div class="direct-chat-text chat-left">Hey bro, how’s everything going ?</div>
        </div>
        <!-- <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">3.36 PM</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="popup-messages-footer d-flex">
    <input
      id="status_message"
      placeholder="Type a message..."
      name="message"
    />
    <button class="btn"><i class="bi bi-chat-left-text-fill"></i></button>
  </div>
</div>
