<app-navbar-candidat></app-navbar-candidat>
<nav id="nav2" class="navbar navbar-expand-lg p-0">
  <div class="container px-5 h-100">
    <div class="h-100">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 h-100">
        <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/candidat/home">Offres d’emploi</a></li>
        <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/candidat/entreprises">Entreprises</a></li>
        <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100 nav-active" routerLink="/candidat/actualites">Actualités</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="pt-5 page-container bg-light">
    <div class="container mx-auto row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div>
                    <a class="badge categorie text-decoration-none mx-1 link-light" href="#!">Web Design</a>
                    <a class="badge categorie text-decoration-none mx-1 link-light" href="#!">Freebies</a>
                </header>
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <section class="mb-5">
                    <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                    <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                    <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                    <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                    <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                    <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
                </section>
            </article><div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn voir-plus" href="#!">Read more →</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn voir-plus" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn voir-plus" href="#!">Read more →</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                            <a class="btn voir-plus" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Mot clé" aria-label="Mot clé" aria-describedby="button-search" />
                        <button class="btn search-btn" id="button-search" type="button"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body px-0">
                    <ul class="list-unstyled mb-0 ">
                        <li class="px-4 py-2"><a routerLink="/candidat/actualite">Web Design</a></li>
                        <li class="px-4 py-2"><a routerLink="/candidat/actualite">HTML</a></li>
                        <li class="px-4 py-2"><a routerLink="/candidat/actualite">Freebies</a></li>
                        <li class="px-4 py-2"><a routerLink="/candidat/actualite">JavaScript</a></li>
                        <li class="px-4 py-2"><a routerLink="/candidat/actualite">CSS</a></li>
                        <li class="px-4 py-2"><a routerLink="/candidat/actualite">Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
