<nav id="nav1" class="navbar navbar-expand-lg p-0">
  <div class="container px-0">
      <a class="navbar-brand fw-bold" href="#!"><img src="../../../../assets/images/nav-logo.jpeg" class="logo" alt="" /></a>
      <div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><button routerLink="/register" class="btn inscription mx-2">Inscription</button></li>
          <li class="nav-item"><button routerLink="/login" class="btn connexion">Se connecter</button></li>
        </ul>
      </div>
  </div>
</nav>
<nav id="nav2" class="navbar navbar-expand-lg p-0">
  <div class="container px-5 h-100">
      <div class="h-100">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 h-100">
            <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/login">Offres d’emploi</a></li>
            <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/login">Actualités</a></li>
            <li class="nav-item h-100"><a class="nav-link navs mx-4 h-100" routerLink="/contact">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>
<header class="bg d-flex align-items-center">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-8">
              <div class="text-center my-5">
                  <h1 class="display-5 fw-bolder text-white mb-2">Simplifiez votre processus de recrutement et trouvez les talents dont vous avez besoin </h1>
                  <!-- <p class="lead text-white mb-4">Votre carrière mérite le meilleur. Nous sommes là pour vous aider à trouver votre prochain emploi de rêve. Découvrez nos offres dès maintenant !</p> -->
                  <!-- <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-lg px-4 me-sm-3 get-started" href="#features">Get Started</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</header>
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature text-white rounded-5 mb-3"><img src="../../../assets/rocket-takeoff.svg" alt=""></div>
              <h3 class="h4 fw-bolder">Présentez votre marque</h3>
              <p>Montrez aux candidats les valeurs de votre entreprise, vos missions, et l'expérience employé vue de l'intérieur.</p>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature text-white rounded-5 mb-3"><i class="bi bi-megaphone-fill"></i></div>
              <h3 class="h4 fw-bolder">Publier vos offres</h3>
              <p>Publiez rapidement et facilement vos offres d'emploi et atteignez un large public de chercheurs d'emploi talentueux et qualifiés.</p>
          </div>
          <div class="col-lg-4">
              <div class="feature text-white rounded-5 mb-3"><i class="bi bi-person-check-fill"></i></div>
              <h3 class="h4 fw-bolder">Ciblez des talents motivés</h3>
              <p>Trouvez des candidats motivés qui partagent vos valeurs grâce à notre système de correspondance d'emplois intelligent.</p>
          </div>
      </div>
  </div>
</section>
<section class="bg-light py-5 border-bottom padd">
  <div class="container-fluid my-5">
      <div class="text-center mb-5">
          <h2 class="fw-bold">Ces profils peuvent vous intéresser</h2>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6 col-xl-2">
              <div class="p-2 mb-5 mb-xl-0">
                  <div class="d-flex justify-content-center">
                      <img src="../../../../assets/images/profil-1.jpg" alt="" class="profil mb-3"/>
                  </div>
                  <div class="text-center">
                      <p>NOM Prenom</p>
                      <p class="fw-bold">Spécialiste en gestion de patrimoine</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-2">
              <div class="p-2 mb-5 mb-xl-0">
                  <div class="d-flex justify-content-center">
                      <img src="../../../assets/images/profil-4.jpg" alt="" class="profil mb-3"/>
                  </div>
                  <div class="text-center">
                      <p>NOM Prenom</p>
                      <p class="fw-bold">Spécialiste en gestion de patrimoine</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-2">
              <div class="p-2 mb-5 mb-xl-0">
                  <div class="d-flex justify-content-center">
                      <img src="../../../assets/images/profil-3.jpg" alt="" class="profil mb-3"/>
                  </div>
                  <div class="text-center">
                      <p>NOM Prenom</p>
                      <p class="fw-bold">Spécialiste en gestion de patrimoine</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-2">
              <div class="p-2 mb-5 mb-xl-0">
                  <div class="d-flex justify-content-center">
                      <img src="../../../assets/images/profil-2.jpg" alt="" class="profil mb-3"/>
                  </div>
                  <div class="text-center">
                      <p>NOM Prenom</p>
                      <p class="fw-bold">Spécialiste en gestion de patrimoine</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-2">
              <div class="p-2 mb-5 mb-xl-0">
                  <div class="d-flex justify-content-center">
                      <img src="../../../assets/images/profil-5.jpg" alt="" class="profil mb-3"/>
                  </div>
                  <div class="text-center">
                      <p>NOM Prenom</p>
                      <p class="fw-bold">Spécialiste en gestion de patrimoine</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
