.logo{
  height: 72.8px !important;
}
.inscription{
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--mantis);
  color: white;
}
.home{
  width: 120px;
  border: solid 1px var(--mantis);
  color: var(--mantis);
  font-size: 14px;
  font-weight: bold;
}
#nav1{
  background-color: var(--violent-violet);
}
#nav2{
  background-color: var(--laser);
  height: 48px;
}
.nav-link{
  color: black !important;
}
.navs:hover{
  border-bottom: solid 2px black;
}
.recruteur{
  border-left: solid 1px grey;
}

.facebook {
  color: white;
  background-color: #3b5998;
}

.facebook:hover {
  background-color: #2f477a;
}

.google {
  color: white;
  background-color: #db4a39;
}

.google:hover {
  background-color: #c03523;
}
.link{
  color: #3b5998;
  cursor: pointer;
}
.input{
  border-radius: 0px;
}
